<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H A M B O G</title>
        <!-- My own CSS -->
    <link href="/static/styles.css" rel="stylesheet">

    <script src="script.js" defer></script>
</head>
<body>
    <header>
    </header>
    <main>
        <section>
         <img class="boglogo" src="{{ url_for('static', filename='images/hamboglogo.png') }}">

        </section>
    </main>
    <footer>
        <p></p>
    </footer>
</body>
</html>
